.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.countries-link:hover {
  transform: scale(1.1);
}

